.nav-icon {
  align-self: center;
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.nav-purple {
  background-color: #5d477e;
  position: relative;
}

.nav-closed {
  position: relative;
  transform: translate(0px, 0);
  animation: sidebar-animation-close 0.1s ease-out;
}

.nav-open {
  position: relative;
  transform: translate(300px, 0);
  animation: sidebar-animation 0.1s ease-out;
  overflow: hidden;
  box-shadow: -100px 50px 200px 0 rgba(0, 0, 0, .15);
}


@keyframes sidebar-animation {
    0%   {
      transform: translate(0px, 0);
    }
    100% {
      transform: translate(300px, 0);
    }
}

@keyframes sidebar-animation-close {
    0%   {
      transform: translate(300px, 0);
    }
    100% {
      transform: translate(0px, 0);
    }
}
